body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  height: 200vh;
  position: relative;
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

body.offcanvas-menu:before {
  opacity: 1;
  z-index: 1002;
  visibility: visible;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a,
a:hover {
  text-decoration: none !important;
}

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.top-bar {
  padding: .5rem 0;
  background: #eee;
}

.top-bar a {
  color: #666666;
}

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  width: 100%;
  padding: 1rem;
}

@media (max-width: 991.98px) {
  .site-navbar {
    padding-bottom: 1rem;
  }
}

.site-navbar .toggle-button {
  position: absolute;
  right: 0px;
}

.site-navbar .site-logo {
  position: absolute;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}

@media (max-width: 991.98px) {
  .site-navbar .site-logo {
    float: left;
    position: relative;
  }
}

.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid white !important;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active {
  color: #007bff !important;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu>li {
  display: inline-block;
}


.site-navbar .site-navigation .site-menu>li>a:hover {
  color: #007bff;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children>a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children>a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #007bff;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  display: none;
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #000 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  color: #007bff !important;
  background: #f8f9fa;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
  padding: 9px 20px;
  display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
  background: #f8f9fa;
  color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
  content: "\e315";
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
  background: #f8f9fa;
  color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children:focus>a,
.site-navbar .site-navigation .site-menu .has-children:active>a {
  color: #007bff;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #ced4da;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #007bff;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li .nav-link.active {
  color: #007bff;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
  font-size: 16px;
  padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"]>li {
  width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"]>li:first-child a {
  padding-left: 15px !important;
}

.sticky-wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
}

.sticky-wrapper .site-navbar {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.sticky-wrapper .site-navbar {
  background: #184192 !important;
}

.sticky-wrapper .site-navbar .site-logo a {
  color: #fff;
}

.sticky-wrapper .site-navbar ul li a {
  color: rgba(255, 255, 255, 0.7) !important;
}

.sticky-wrapper .site-navbar ul li a.active {
  color: #fff !important;
}

.sticky-wrapper.is-sticky .site-navbar {
  background: #fff;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #007bff;
}

.sticky-wrapper.is-sticky .site-navbar ul li a {
  color: white !important;
}

.sticky-wrapper.is-sticky .site-navbar ul li a.active {
  color: #007bff !important;
}

.sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

@media (max-width: 991.98px) {
  .sticky-wrapper .shrink {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}


/* CRUZEIRO */

/* NAVBAR */
.site-navbar .site-navigation .site-menu>li>a {
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 0px;
  color: white !important;
  display: inline-block;
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 500 !important;
}

.btn-whats {
  font-size: 15px;
  background: #0E8F4A;
  color: white !important;
  padding: 8px 14px;
  border-radius: 3px;
  margin: 0 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  width: max-content;

}

.btn-phone {
  font-size: 15px;
  background: #155c95;
  color: #FFF !important;
  padding: 8px 14px;
  border-radius: 3px;
  margin: 0 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  width: max-content;
}

/* ------- */

/* DESTOP E MOBILE */

@media screen and (max-width: 991px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 991px) {
  .mobile {
    display: none;
  }
}

/* ------- */

/* CURSOS */

#features-4 .segmentos {
  background: #155c95;
  border-radius: 1.5em;
  -webkit-box-shadow: 0 0 0 1px rgb(20 20 60 / 8%), 0 0.75em 1em -0.24em rgb(0 0 0 / 25%);
  box-shadow: 0 0 0 1px rgb(20 20 60 / 8%), 0 0.75em 1em -0.24em rgb(0 0 0 / 25%);
  padding: 10px;
  margin-bottom: 20px;
}

#features-4 .segmentos p {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 16px;
  margin-top: 15px;
  min-height: 30px;
}

@media screen and (max-width: 991px) {
  #features-4 .segmentos p {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 991px) {
  #features-4 .segmentos img {
  width: 70% !important;
  }
}

/* SOBRE */

#about-1--0 {
  background: #155c95;
}

/* CTA */

#cta_02 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* CRUZEIRO */

#features-13 .tagline {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  color: #155c95;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  z-index: 1;
}

#features-13 .text-2 {
  padding-top: 34px;
  padding-bottom: 29px;
}

#features-13 .about {
  position: relative;
  display: inline-block;
  margin-bottom: 41px;
  padding-left: 0px;
}

#features-13 .about li {
  position: relative;
  display: flex;
  align-items: center;
}

#features-13 .about li .icon {
  width: 22px;
  height: 18px;
  padding-left: 1px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #155c95;
  color: white;
  border-radius: 50%;
  font-size: 9px;
  justify-content: center;
}

#features-13 .about li .text {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 800;
  line-height: 30px;
}

/* FOOTER */

#footer_03--1 {
  background-color: #155c95 !important;
}

#footer_03--1 .footer-widget .footer-logo {
  margin-bottom: 20px;
}

#footer_03--1 .footer-widget .social-link {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer_03--1 .footer-widget .social-link li {
  display: inline-block;
  margin-right: 10px;
}

#footer_03--1 .footer-widget .social-link li a {
  display: inline-block;
  color: white;
}

#footer_03--1 .footer-widget .social-link li a i {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

#footer_03--1 .footer-widget h3 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
}

#footer_03--1 .footer-widget .hours {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#footer_03--1 .footer-widget h3 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
}

#footer_03--1 .footer-widget .footer-contact {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* BEFORE FOOTER */

.d-mobile {
  position: fixed;
  width: 100%;
  display: none;
  bottom: 0;
  z-index: 999;
  font-size: 14px;
  text-align: center;
}

.d-mobile .d-phone {
  width: 50%;
  float: left;
  background-color: #155c95;
  padding: 20px 0;
}

.d-mobile .d-whats {
  width: 50%;
  float: right;
  background-color: #0E8F4A;
  padding: 20px 0;
}

.whatsapp-desktop {
  display: initial;
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 9999;
  text-align: center;
}

#contact-2 p {
  color: #FFF;
  margin-bottom: 10px;
}

.whatsapp-desktop .whatsapp-text {
  background: #0E8F4A;
  color: #FFF;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.whatsapp-desktop img {
  width: 60px;
}

.ptb-50 {
  padding: 50px;
}

.mtb-50 {
  padding: 50px;
}

@media screen and (max-width: 991px) {
  .mob-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .mob-footer {
    padding-bottom: 1rem;
  }
}

.embed-responsive-16by9::before {
  padding-top: 20.25% !important; 
}

#features-19 .img-feature {
  max-width: 76px;
  height: 76px;
  padding-left: 1px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #155c95;
  color: #155c95;
  border-radius: 50%;
  justify-content: center;
  margin: auto;
}

#features-19 .single-item .img-feature {
  margin-bottom: 25px;
}

#features-19 .img-feature img {
  max-width: 44px;
}

#features-19 .single-item {
  margin-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
  padding: 40px 30px;
  border: 1px solid #cccccc2e;
  border-radius: 4px;
}

.dark h4.light, .light h4, .dark .light h4, h4.light {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #555;
}

#features-4, #features-19,
#features-13 p {
  color: #718096;
}

p {
  font-size: 16px;
  font-weight: 500;
}